div:hover {
    border: 4px solid red;
}
div:nth-of-type(1) {
    background-color: rosybrown;
}
div:nth-of-type(2) {
    background-color: rgb(45, 95, 107);
}
div:nth-of-type(3) {
    background-color: tomato;
}
div:nth-of-type(4) {
    background-color: rgb(80, 13, 13);
}
div:nth-of-type(5) {
    background-color: rgb(187, 245, 240);
}

div:nth-of-type(1) h3 {
    color: purple;
}

div:nth-of-type(2) h3 {
    font-family: monospace;
}

div:nth-of-type(3) h3 {
    font-size: 22px;
    height: 50px;
}

div:nth-of-type(4) h3 {
    color: white;
}

div:nth-of-type(5) h3 {
    font-style: italic;
}
