.cabecalho {
  background-color: green;
  padding: 10px;
  color: white;
  text-align: center;
  font-size: xx-large;
}

.listItens {
  background-color: yellow;
  color: red;
  font-size: x-large;
}
